:root {
  /* Primario */

  --Azul_palido: hsl(225, 100%, 94%);
  --Azul_brillante: hsl(245, 75%, 52%);

  /* Neutral */

  --Azul_muy_palido: hsl(225, 100%, 98%);
  --Azul_desaturado: hsl(224, 23%, 55%);
  --Azul_oscuro: hsl(223, 47%, 23%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--Azul_palido);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Imagen de fondo */
.bg_image {
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Contenedor */
.container {
  margin: 1em auto;
  width: 90%;
}

/* Parrafos del contenedor */
.container p {
  margin: 0;
  line-height: 1.6;
  color: var(--Azul_desaturado);
}

/* Fila */
.row {
  display: flex;
  justify-content: center;
}

/* Carta */
.card {
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
  max-width: 350px;
}

/* Imagen */
.card-colum-img {
  background-image: url("../images/illustration-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.card-colum-text {
  padding: 1.5em 1.5em;
}

/* Referencia */
.card-info {
  text-align: center;
}

/* Titulo */
.card-title {
  margin: 10px 0;
  font-weight: 900;
  color: var(--Azul_oscuro);
}

/* Información */
.card-text {
  font-weight: 500;
}

/* Precios */
.card-plan {
  margin: 20px auto;
  padding: 18px;
  background-color: var(--Azul_muy_palido);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Costo */
.card-plan-cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Imagen Costo */
.card-plan-cost img {
  margin-right: 10px;
}

/* h de costo */
.card-plan-cost h4 {
  margin: 0;
}

/* Botones generales */
.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 13px;
}

/* Devolución - Cambio */
.card-plan-change {
  background-color: transparent;
  color: var(--Azul_brillante);
  text-decoration: underline;
}

/* Hover boton de cambio */
.card-plan-change:hover {
  opacity: 0.8;
}

/* Botones finales */
.card-buttons {
  display: flex;
  flex-direction: column;
}

/* Boton Pago */
.card-pay {
  background-color: var(--Azul_brillante);
  color: var(--Azul_palido);
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 40px var(--Azul_desaturado);
}

/* Hover boton de pago */
.card-pay:hover {
  opacity: 0.8;
}

/* Boton Cancelación */
.card-cancel {
  background-color: transparent;
  color: var(--Azul_desaturado);
}

/* Hover del boton cancelación */
.card-cancel:hover {
  color: var(--Azul_oscuro);
}

/* Datos Adicionales */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  .bg_image {
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
  }

  .card {
    background-color: #fff;
    border-radius: 1em;
    overflow: hidden;
    max-width: 400px;
  }

  .card-colum-text {
    padding: 2em 3em;
  }
}
